<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Minha Lista de Tarefas</title>
    <link rel="stylesheet" href="{% static 'lista/lista.css' %}">
</head>
<body>
    
    <h1> Gerenciador de Tarefas Web</h1>

    {% for tarefa in minhas_tarefas %}
        <div class="tarefa {% if tarefa.concluída %}concluída{% endif %}">
            <h2>{{ tarefa.título }}</h2>
            <p>{{ tarefa.descricao }}</p>
            <small> Criada em: {{ tarefa.data_criacao }}</small>
        </div>
    {% empty %}
        <p>Nenhuma tarefa cadastrada ainda. Adicione algumas no <a href="/admin/">admin</a>!</p>
    {% endfor %}

</body>
</html>
