body {
    background-color: #f0f8ff; 
}

h1 {
    color: rgb(139, 0, 100); 
    border-bottom: 2px solid rgb(110, 4, 100);
}

.secao-especial-dois {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}
